<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <script type="text/javascript">
        function addMastodonAccount() {
            // Open Mastodon authorization URL in a new tab
            window.open('https://mastodon.social/oauth/authorize?client_id=BSWItFq7Qb0B6Xhe0Ok8fnnhNPuMehvW8Zs8OYx06yY&response_type=code&redirect_uri=urn:ietf:wg:oauth:2.0:oob&scope=read write', '_blank');
            // Redirect the current page to the enter-code.html
            window.location.href = '/enter-code';
        }
    </script>
</head>
<body>
<h1>Welcome to Our Application</h1>
<button onclick="addMastodonAccount()">Add Mastodon Account</button>
</body>
</html>
